loguru
pylast
sqlalchemy
musicbrainzngs
thefuzz
spotipy
flask
flask-socketio
python-socketio
unidecode
apscheduler
black==23.12.1
flake8==7.0.0
flake8-docstrings==1.7.0
isort==5.13.2
pre-commit==3.6.0 