gunicorn
gevent
gevent-websocket
flask
flask_socketio
yt_dlp
spotdl
loguru
pylast
sqlalchemy
musicbrainzngs
thefuzz
spotipy
spotipy_anon
unidecode
apscheduler
black==24.3.0
flake8==7.0.0
flake8-docstrings==1.7.0
isort==5.13.2
pre-commit==3.6.0 
bcrypt
flask_login
